# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.


# Special treatment for the 'lite/debug' branch only.
# The original state will be restored once 'lite/debug' gets merged back to 'master'.
# This change was made in https://github.com/Lightning-AI/lightning/pull/????

* @awaelchli @awaelchli @borda @carmocca @justusschock
